@charset "UTF-8";
	.overlay {
  display: none;
  background: rgba(0, 0, 0, 0.6);
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}

.prompt-wrap {
  display: none;
  background: transparent;
  position: absolute;
  width: 350px;
  margin: 0 auto;
  top: 0;
  left: 0;
  right: 0;
}

.prompt-box {
  display: none;
  padding: 50px;
  background: #f9f9f9;
  max-width: 350px;
  width: 100%;
  margin: 20px auto;
  color: 70707;
  position: fixed;
  z-index: 999999999;
  margin: 80px auto;
  border-radius: 3px;
}

.prompt-box input {
	padding: 10px;
	margin-bottom: 5px;
	border: 1px solid rgb(230, 230, 230);
	border-radius: 4px;
}
  
.prompt-box p {
  color: #333;
  margin-bottom: 15px;
  font-weight: 600;
  font-size: 18px;
  
}
.prompt-box .class {
	border: 1px solid red;
}
.prompt-box button {
  width: 98%;
  font-size: 15px;
}
.prompt-box.shake {
  animation: shake 0.5s linear;
}
.prompt-box .close:after {
  content: "";
  height: 20px;
  width: 20px;
  background: url(../img/x-thin.svg) top left no-repeat;
  background-size: 100%;
  position: absolute;
  right: 20px;
  top: 12px;
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
  cursor: pointer;
}

.code-error {
  color: red !important;
  display: none;
}
.code-error.is-error {
  display: block;
  animation: shake 0.5s linear;
}

@-webkit-keyframes shake {
  8%, 41% {
    transform: translateX(-10px);
  }
  25%, 58% {
    transform: translateX(10px);
  }
  75% {
    transform: translateX(-5px);
  }
  92% {
    transform: translateX(5px);
  }
  0%, 100% {
    transform: translateX(0);
  }
}